@model IEnumerable<GRINPLAS.Models.Notificacion>

<div class="dropdown-menu dropdown-menu-end notification-dropdown" aria-labelledby="navbarDropdownNotifications">
    <h6 class="dropdown-header">Notificaciones</h6>
    
    @if (Model.Any())
    {
        foreach (var notificacion in Model)
        {
            <a class="dropdown-item notification-item" href="#" data-id="@notificacion.NotificacionId">
                <div class="notification-content">
                    <div class="notification-title">@notificacion.Titulo</div>
                    <div class="notification-message">@notificacion.Mensaje</div>
                    <div class="notification-time">@notificacion.FechaCreacion.ToString("g")</div>
                </div>
            </a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-center" href="@Url.Action("Index", "Notificaciones")">Ver más</a>
    }
</div>